#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 40px;

  font-size: 15px;
  background: $background-dark;
}

.git-wrapper{
  display: flex;
  align-items: center;
}

.git-label {
  color: $text-color;
  text-decoration: none;
  margin-left: 5px;
}

.git-icon {
  width: 25px;
  height: 25px;
}

