#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 5%;

  background: $backgroundDark;
}

.git-wrapper{
  display: flex;
  align-items: center;
}

.git-label {
  color: $text;
  margin-left: 5px;
}

.git-icon {
  width: 25px;
  height: 25px;
}

