$favorites-button-size: 40px;

.invisibleDiv {
  height: $favorites-button-size;
  width: $favorites-button-size;
}

.title {
  font-size: 30px;
  line-height: 40px;
  color: $text-color;
}

.switchFavorites {
  height: $favorites-button-size;
  width: $favorites-button-size;

  @include scale-on-hover;
}

