$favorites-button-size: 40px;

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: $background-dark;
}

#invisibleDiv {
  height: $favorites-button-size;
  width: $favorites-button-size;
}

#title {
  font-size: 30px;
  line-height: 40px;
  color: $text-color;
}

#switchFavorites {
  height: $favorites-button-size;
  width: $favorites-button-size;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

