#header{
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 10%;

  background: $backgroundDark;
}

#invisibleDiv{
  height: 40px;
  width: 40px;
}

#title{
  font-family: Revalia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  color: $blackText;
}

#switchFavorites{
  height: 40px;
  width: 40px;
}

