.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 100%;
  width: 0;
  right: 0;
  z-index: 20;
  background-color: $background-dark;
  transition: 0.5s;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $background-light;
  }
}

#favorites {
  position: relative;
  width: 60%;
  margin-top: 30px;
  text-align: center;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
