#content {
  position: relative;
  background: $background-light;
  overflow: auto;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

#responseError {
  height: 30px;
  margin-bottom: 20px;
  font-size: 23px;
}

#filmsList {
  position: relative;
  display: flex;
  justify-content: center;
  width: 65%;
  height: 55%;
}
